<%= form_with(model: act_ptematico) do |form| %>
  <% if act_ptematico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(act_ptematico.errors.count, "error") %> prohibited this act_ptematico from being saved:</h2>

      <ul>
        <% act_ptematico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :subtitulo %>
    <%= form.text_field :subtitulo %>
  </div>

  <div class="field">
    <%= form.label :localizacion %>
    <%= form.text_field :localizacion %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :sitioweb %>
    <%= form.text_field :sitioweb %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
