<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @art_ttradicionale.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @art_ttradicionale.subtitulo %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @art_ttradicionale.localizacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @art_ttradicionale.telefono %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @art_ttradicionale.informacion %>
</p>

<p>
  <strong>Rss facebook:</strong>
  <%= @art_ttradicionale.rss_facebook %>
</p>

<p>
  <strong>Rss instagram:</strong>
  <%= @art_ttradicionale.rss_instagram %>
</p>

<%= link_to 'Edit', edit_art_ttradicionale_path(@art_ttradicionale) %> |
<%= link_to 'Back', art_ttradicionales_path %>
