<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @art_alfareri.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @art_alfareri.subtitulo %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @art_alfareri.localizacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @art_alfareri.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @art_alfareri.email %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @art_alfareri.informacion %>
</p>

<p>
  <strong>Rss facebook:</strong>
  <%= @art_alfareri.rss_facebook %>
</p>

<%= link_to 'Edit', edit_art_alfareri_path(@art_alfareri) %> |
<%= link_to 'Back', art_alfareris_path %>
