<p id="notice"><%= notice %></p>

<h1>Gast Platos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Localizacion</th>
      <th>Telefono</th>
      <th>Informacion</th>
      <th>Rss facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gast_platos.each do |gast_plato| %>
      <tr>
        <td><%= gast_plato.titulo %></td>
        <td><%= gast_plato.subtitulo %></td>
        <td><%= gast_plato.localizacion %></td>
        <td><%= gast_plato.telefono %></td>
        <td><%= gast_plato.informacion %></td>
        <td><%= gast_plato.rss_facebook %></td>
        <td><%= link_to 'Show', gast_plato %></td>
        <td><%= link_to 'Edit', edit_gast_plato_path(gast_plato) %></td>
        <td><%= link_to 'Destroy', gast_plato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gast Plato', new_gast_plato_path %>
