<h1>Listado de sitios de Platos típicos en Gran Canaria</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Subtítulo</th>
      <th>Localización</th>
      <th>Teléfono</th>
      <th>Información</th>
      <th>Página de Facebook</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @gast_platos.each do |gast_plato| %>
      <tr>
        <td><%= gast_plato.titulo %></td>
        <td><%= gast_plato.subtitulo %></td>
        <td><%= gast_plato.localizacion %></td>
        <td><%= gast_plato.telefono %></td>
        <td><%= gast_plato.informacion %></td>
        <td><%= gast_plato.rss_facebook %></td>
        <td><%= link_to 'Mostrar', gast_plato %></td>
        <td><%= link_to 'Editar', edit_gast_plato_path(gast_plato) %></td>
        <td><%= link_to 'Eliminar', gast_plato, method: :delete, data: { confirm: '¿Está seguro de eliminar esta entrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva entrada', new_gast_plato_path %>
<%= link_to 'Atrás', :back %>
<p id="notice"><%= notice %></p>
