<p id="notice"><%= notice %></p>

<h1>Art Canteris</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Localizacion</th>
      <th>Telefono</th>
      <th>Informacion</th>
      <th>Rss facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_canteris.each do |art_canteri| %>
      <tr>
        <td><%= art_canteri.titulo %></td>
        <td><%= art_canteri.subtitulo %></td>
        <td><%= art_canteri.localizacion %></td>
        <td><%= art_canteri.telefono %></td>
        <td><%= art_canteri.informacion %></td>
        <td><%= art_canteri.rss_facebook %></td>
        <td><%= link_to 'Show', art_canteri %></td>
        <td><%= link_to 'Edit', edit_art_canteri_path(art_canteri) %></td>
        <td><%= link_to 'Destroy', art_canteri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art Canteri', new_art_canteri_path %>
