<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @art_canteri.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @art_canteri.subtitulo %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @art_canteri.localizacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @art_canteri.telefono %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @art_canteri.informacion %>
</p>

<p>
  <strong>Rss facebook:</strong>
  <%= @art_canteri.rss_facebook %>
</p>

<%= link_to 'Edit', edit_art_canteri_path(@art_canteri) %> |
<%= link_to 'Back', art_canteris_path %>
