<%= form_with(model: adnd_pnaturale) do |form| %>
  <% if adnd_pnaturale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adnd_pnaturale.errors.count, "error") %> prohibió que se guarde esta entrada:</h2>

      <ul>
        <% adnd_pnaturale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Título" %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label "Subtítulo" %>
    <%= form.text_field :subtitulo %>
  </div>

  <div class="field">
    <%= form.label "Ruta" %>
    <%= form.text_field :ruta, placeholder: 'https://es.wikiloc.com/ruta' %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
