<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @adnd_pnaturale.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @adnd_pnaturale.subtitulo %>
</p>

<p>
  <strong>Ruta:</strong>
  <%= @adnd_pnaturale.ruta %>
</p>

<%= link_to 'Edit', edit_adnd_pnaturale_path(@adnd_pnaturale) %> |
<%= link_to 'Back', adnd_pnaturales_path %>
