<%= form_with(model: act_buceo) do |form| %>
  <% if act_buceo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(act_buceo.errors.count, "error") %> prohibió que se guarde esta entrada: </h2>

      <ul>
        <% act_buceo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Título" %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label "Subtítulo" %>
    <%= form.text_field :subtitulo %>
  </div>

  <div class="field">
    <%= form.label "Localización" %>
    <%= form.text_field :localizacion %>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_field :telefono, placeholder: 'XXX-XXX-XXX' %>
  </div>

  <div class="field">
    <%= form.label "Sitio web" %>
    <%= form.url_field :sitioweb, placeholder: 'https://ejemplo.com' %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
