<h1>Listado de sitios de Buceos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Subtítulo</th>
      <th>Localización</th>
      <th>Teléfono</th>
      <th>Sitio web</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @act_buceos.each do |act_buceo| %>
      <tr>
        <td><%= act_buceo.titulo %></td>
        <td><%= act_buceo.subtitulo %></td>
        <td><%= act_buceo.localizacion %></td>
        <td><%= act_buceo.telefono %></td>
        <td><%= act_buceo.sitioweb %></td>
        <td><%= link_to 'Mostrar', act_buceo %></td>
        <td><%= link_to 'Editar', edit_act_buceo_path(act_buceo) %></td>
        <td><%= link_to 'Eliminar', act_buceo, method: :delete, data: { confirm: '¿Está seguro de eliminar esta entrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva entrada', new_act_buceo_path %>
<%= link_to 'Atrás', :back %>

<p id="notice"><%= notice %></p>