<h1>Buceo: <%= @act_buceo.subtitulo %> </h1>

<p>
  <strong>Título:</strong>
  <%= @act_buceo.titulo %>
</p>

<p>
  <strong>Subtítulo:</strong>
  <%= @act_buceo.subtitulo %>
</p>

<p>
  <strong>Localización:</strong>
  <%= @act_buceo.localizacion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @act_buceo.telefono %>
</p>

<p>
  <strong>Sitio web:</strong>
  <%= @act_buceo.sitioweb %>
</p>

<%= link_to 'Editar', edit_act_buceo_path(@act_buceo) %> |
<%= link_to 'Atrás', act_buceos_path %>

<p id="notice"><%= notice %></p>
