<%= form_with(model: preguntasfrecuente) do |form| %>
  <% if preguntasfrecuente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preguntasfrecuente.errors.count, "error") %> prohibió que se guarde esta entrada:</h2>

      <ul>
        <% preguntasfrecuente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contenedor">
    <div class="field">
      <%= form.label :pregunta %>
      <%= form.text_area :pregunta %>
    </div>

    <div class="field">
      <%= form.label :respuesta %>
      <%= form.text_area :respuesta %>
    </div>

    <div class="actions">
      <%= form.submit "Guardar" %>
    </div>
  </div>
<% end %>
