<h1>Pregunta frecuente con id: <%= @preguntasfrecuente.id%> </h1>

<p>
  <strong>Pregunta:</strong>
  <%= @preguntasfrecuente.pregunta %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @preguntasfrecuente.respuesta %>
</p>

<%= link_to 'Editar', edit_preguntasfrecuente_path(@preguntasfrecuente) %> |
<%= link_to 'Atrás', preguntasfrecuentes_path %>

<p id="notice"><%= notice %></p>
