<h1>Listado de lugares de Playas</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Subtítulo</th>
      <th>Localización</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @adnd_playas.each do |adnd_playa| %>
      <tr>
        <td><%= adnd_playa.titulo %></td>
        <td><%= adnd_playa.subtitulo %></td>
        <td><%= adnd_playa.localizacion %></td>
        <td><%= link_to 'Mostrar', adnd_playa %></td>
        <td><%= link_to 'Editar', edit_adnd_playa_path(adnd_playa) %></td>
        <td><%= link_to 'Eliminar', adnd_playa, method: :delete, data: { confirm: '¿Está seguro de eliminar esta entrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva entrada', new_adnd_playa_path %>
<p id="notice"><%= notice %></p>
