<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @adnd_playa.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @adnd_playa.subtitulo %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @adnd_playa.localizacion %>
</p>

<%= link_to 'Edit', edit_adnd_playa_path(@adnd_playa) %> |
<%= link_to 'Back', adnd_playas_path %>
