<div class="contenedor">
  <h1>Museo: <%= @adnd_museo.subtitulo %> </h1>

  <p>
    <strong>Título:</strong>
    <%= @adnd_museo.titulo %>
  </p>

  <p>
    <strong>Subtítulo:</strong>
    <%= @adnd_museo.subtitulo %>
  </p>

  <p>
    <strong>Localización:</strong>
    <%= @adnd_museo.localizacion %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= @adnd_museo.telefono %>
  </p>

  <p>
    <strong>Sitio web:</strong>
    <%= @adnd_museo.sitioweb %>
  </p>
  <div class="enlace">
    <%= link_to 'Editar', edit_adnd_museo_path(@adnd_museo) %>
    <%= link_to 'Atrás', adnd_museos_path %>
  </div>

  <p id="notice"><%= notice %></p>
</div>