<!DOCTYPE html>
<html>
  <head>
    <title>INICIO</title>
  </head>

  <body>
    <h1>INICIO</h1>
  
    <h3>ARTESANIA</h3>
        <%= link_to 'Artesania - Alfarería', art_alfareris_path %><br>
        <%= link_to 'Artesania - Cantería', art_canteris_path %><br>
        <%= link_to 'Artesania - Cuchillería', art_cuchilleris_path %><br>
        <%= link_to 'Artesania - Trajes tradicionales', art_ttradicionales_path %><br>
    
    <h3>GASTRONOMIA</h3>
        <%= link_to 'Gastronomia - Platos', gast_platos_path %><br>
        <%= link_to 'Gastronomia - Postres', gast_postres_path %><br>
    <h3>A DONDE IR</h3>
        <%= link_to 'A donde ir - Museos', adnd_museos_path %><br>
        <%= link_to 'A donde ir - Parques Naturales', adnd_pnaturales_path %><br>
        <%= link_to 'A donde ir - Playas', adnd_playas_path %><br>
    <h3>ACTIVIDADES</h3>
        <%= link_to 'Actividades - Buceo', act_buceos_path %><br>
        <%= link_to 'Actividades - Parques temáticos', act_ptematicos_path %><br>
        <%= link_to 'Actividades - Senderismo', act_senderismos_path %><br>

    <h3>PREGUNTAS FRECUENTES</h3>
        <%= link_to 'Preguntas Frecuentes', preguntasfrecuentes_path %><br>

  </body>
</html>
