<p id="notice"><%= notice %></p>

<h1>Art Cuchilleris</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Localizacion</th>
      <th>Telefono</th>
      <th>Informacion</th>
      <th>Rss facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_cuchilleris.each do |art_cuchilleri| %>
      <tr>
        <td><%= art_cuchilleri.titulo %></td>
        <td><%= art_cuchilleri.subtitulo %></td>
        <td><%= art_cuchilleri.localizacion %></td>
        <td><%= art_cuchilleri.telefono %></td>
        <td><%= art_cuchilleri.informacion %></td>
        <td><%= art_cuchilleri.rss_facebook %></td>
        <td><%= link_to 'Show', art_cuchilleri %></td>
        <td><%= link_to 'Edit', edit_art_cuchilleri_path(art_cuchilleri) %></td>
        <td><%= link_to 'Destroy', art_cuchilleri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art Cuchilleri', new_art_cuchilleri_path %>
