<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @art_cuchilleri.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @art_cuchilleri.subtitulo %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @art_cuchilleri.localizacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @art_cuchilleri.telefono %>
</p>

<p>
  <strong>Informacion:</strong>
  <%= @art_cuchilleri.informacion %>
</p>

<p>
  <strong>Rss facebook:</strong>
  <%= @art_cuchilleri.rss_facebook %>
</p>

<%= link_to 'Edit', edit_art_cuchilleri_path(@art_cuchilleri) %> |
<%= link_to 'Back', art_cuchilleris_path %>
