
<h1>Listado de sitios de Postres típicos en Gran Canaria</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Subtítulo</th>
      <th>Localización</th>
      <th>Teléfono</th>
      <th>Página de Facebook</th>
      <th>Página de Instagram</th>
      <th>Información</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @gast_postres.each do |gast_postre| %>
      <tr>
        <td><%= gast_postre.titulo %></td>
        <td><%= gast_postre.subtitulo %></td>
        <td><%= gast_postre.localizacion %></td>
        <td><%= gast_postre.telefono %></td>
        <td><%= gast_postre.rss_facebook %></td>
        <td><%= gast_postre.rss_instagram %></td>
        <td><%= gast_postre.informacion %></td>
        <td><%= link_to 'Mostrar', gast_postre %></td>
        <td><%= link_to 'Editar', edit_gast_postre_path(gast_postre) %></td>
        <td><%= link_to 'Eliminar', gast_postre, method: :delete, data: { confirm: '¿Está seguro de eliminar esta entrada?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva entrada', new_gast_postre_path %>
<p id="notice"><%= notice %></p>

